body {
  background-color: #456360;
  color: white;
  text-align: center;
}

#root {
  display: flex;
  padding: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.disabled {
  display: none;
}

.piece {
  display: flex;
  justify-content: space-around;
}

.piece:hover {
  color: #e8d55d;
}

#finalZaw, #builder {
  width: 40vw;
  min-width: 620px;
}

#strike-selector, #grip-selector, #link-selector {
  width: 40vw;
  min-width: 620px;
}

.part-layout {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.part-inner {
  position: relative;
  width: 100%;
  height: 20vh;
  min-height: 220px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.part-inner:hover  h3, .part-inner:focus  h3 {
  color: #e8d55d
}

.part-front, .part-back {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.part-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.part-front > *, .part-back > * {
  pointer-events: none;
}

.part-name {
  position: absolute;
  bottom: 0;
}

.part-back {
  transform: rotateY(180deg);
  align-items: center;
}

.rotated {
  transform: rotateY(180deg);
}
