body {
  font-family: Roboto, monospace;
  background-color: #456360;
  color: white;
  text-align: center;
  margin: 0
}

img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

#root {
  display: flex;
  padding-top: min(40px, 5vw);
  flex-wrap: wrap;
  justify-content: center;
}

.disabled {
  display: none !important;
}

.piece {
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding: 8px;
  background-color: rgb(56 80 90 / 80%);
  margin: 20px;
  box-shadow: 0 0 2px 0 rgb(232 213 93 / 75%);
  transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

.piece:hover {
  color: #e8d55d;
  box-shadow: 0 0 8px 0 rgb(232 213 93 / 75%);
}

.piece-img {
  position: relative;
  width: 30%;
  min-width: 100px;
  display: flex; 
  align-items: center;
  transition: box-shadow 0.5s ease-in-out;
}

.piece:hover > .piece-img {
  box-shadow: 0 -200px 100px -220px rgb(232 213 93 / 100%) inset;
}

.piece-img::after {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  right: -3px;
  width: 3px;
  background: linear-gradient(0deg,rgb(255 255 255 / 0%) 5%, rgb(232 213 93 / 50%) 50%, rgb(255 255 255 / 0%) 95%);
  transition: transform 0.5s ease-in-out;
}

.piece:hover > .piece-img::after {
  transform: scale(1.3)
}

.piece::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0%;
  left: 50%;
  bottom: 0;
  background-color: #e8d55d;
  transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
}

.piece:hover::after {
  width: 100%;
  left: 0;
}

.piece-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#zaw-stats, #builder, #strike-selector, #grip-selector, #link-selector {
  width: 620px;
  max-width: 90vw;
}

#builder {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#zaw-stats {
  padding: 8px;
  background-color: rgb(56 80 90 / 80%);
  margin: 20px;
  box-shadow: 0 0 2px 0 rgb(232 213 93 / 75%);
  transition: box-shadow 1s ease-in-out;
}

#zaw-stats > h3 {
  color: #e8d55d;
}

#zaw-stats:hover {
  box-shadow: 0 0 8px 0 rgb(232 213 93 / 75%), 0 0 2000px -210px rgb(232 213 93 / 100%) inset;;
}

.part-layout {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, 200px);
  position: relative; 
  justify-content: center;
}

.part-inner {
  position: relative;
  height: 20vh;
  min-height: 220px;
  text-align: center;
  transform-style: preserve-3d;
  cursor: pointer;
  background-color: rgb(56 80 90 / 80%);
  margin: 20px;
  box-shadow: 0 0 2px 0 rgb(232 213 93 / 75%);
  transition: box-shadow 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.part-inner:hover  h3{
  color: #e8d55d;
}

.part-inner:hover img {
  transform: scale(1.3);
}

.part-inner:hover {
  box-shadow: 0 0 8px 0 rgb(232 213 93 / 75%), 0 0 2000px -210px rgb(232 213 93 / 100%) inset;
}

.part-front, .part-back {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.part-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.part-front > *, .part-back > * {
  pointer-events: none;
}

.part-name {
  position: absolute;
  bottom: 0;
}

.part-back {
  transform: rotateY(180deg);
  align-items: center;
}

.rotated {
  transform: rotateY(180deg);
}
